<section>
    <div class="container block px-4 mx-auto">
        <h1 class="mx-auto text-center block text-3xl">Random Bullish Rationalization Generator</h1>
        <div class="generator text-center w-1/2 mx-auto">
            <p class="my-8" id="random_rationalization">
                The Earth is being hurled into the Sun. Buy stocks.
            </p>            
            <button class="bg-transparent border border-green-800 hover:bg-green-800 hover:text-white p-4 hover:border-gray-100 rounded" id="generator_btn">
                Generate Rationalization
            </button>
        </div>
    </div>
</section>


<script>
$("#generator_btn").on("click", function (event) {
    event.preventDefault();
    var subjectArray = generateSubject();
    var predicate = generatePredicate(subjectArray[0], subjectArray[1]);
    var rationalization = generateCalltoAction(predicate);
    $("#random_rationalization").html("");
    $("#random_rationalization").html(rationalization);
});
</script>
